@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

@layer base {
  body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #ffebd3;
    color: #0016DB;
  }  

  h1 {
    @apply text-5xl;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
  }

  h2 {
    @apply text-xl;
    font-weight: 400;
  }

  h3 {
    @apply text-lg;
    font-weight: 400;
  }

  h4 {
    @apply text-xl;
    font-weight: 700;
  }

  h5 {
    @apply text-lg;
    font-weight: 400;
  }

  p {
    @apply text-base;
    font-weight: 400;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
  }

  .disabled {
    @apply text-gray-500;
    cursor: not-allowed;
  }
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.nav-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 8px;
  padding: 120px 15px;
  cursor: pointer;
  border: 2px solid #0016DB;
  border-radius: 20px;
  margin: 20px 0px 60px;
}

.nav-card img {
  transition: transform 0.1s ease-in-out;
}

.nav-card:hover img {
  transform: scale(1.1);
}

.preview-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 8px;
  cursor: pointer;
}

.preview-card img {
  transition: opacity 0.05s ease-in-out;
  object-fit: cover;
  border: 2px solid #0016DB;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.preview-card:hover img {
  opacity: 1;
}